<nav>
    <div class="navbar py-1" style="background-color: #AC6D46;">
        <!--<div class="text-white text-center col">
            <small>Heimursaga is currently in beta. Submit feedback to admin@heimursaga.com.</small>
        </div>-->
    </div>
</nav>