<% errors.forEach(function(message) { %>
    <div id="error-message" class="alert alert-danger text-center" hidden><%= message %></div>
  <% })%>

  <% success.forEach(function(message) { %>
    <div id="success-message" class="alert alert-success text-center" hidden><%= message %></div>
  <% })%>
