<footer class="footer">
    <div class="container-fluid">
        <div class="row text-muted">
            <div class="col-12 text-center">
                <p class="mb-0">
                    &copy; 2022 - Heimursaga, a creation of <a href="https://theperipetycompany.com" style="text-decoration: none;">The Peripety Company</a>
                </p>
            </div>
        </div>
    </div>
</footer>

</div>
</div>

<script src="js/app.js"></script>

<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
<script>
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#4676ac"
    },
    "button": {
      "background": "#616161"
    }
  },
  "theme": "classic",
  "content": {
    "message": "Heimursaga uses cookies to provide the best experience possible. By continuing you consent to their use.",
    "dismiss": "I Understand"
  }
});
</script>

</body>

</html>