<%- include('includes/header') %>

<title>Heimursaga | About</title>

<%- include('includes/sidebar') %>

<%- include('includes/navbar') %>

			<main class="content d-flex">
				<div class="container-fluid p-0">
					<div class="row">
						<div class="col-12 d-table-cell align-middle">
							<div class="text-center mb-4 me-4">
								<img src="./img/brands/Heimursaga Logo & Slogan white-bg.svg" width="266" height="99.75" alt="Heimursaga">
							</div>
							<div class="card">
								<div class="card-body text-center col-md-8 offset-md-2 mb-4 mt-3">
										Heimursaga (HEY-mer-saga) is a text-focused, map-centric social media platform for explorers and travelers. Heimursaga's core functionality is the ability for users
										to read and write "journal entries" tagged to precise geographic coordinates. With a name derived from the Old Norse words "heimr" meaning "world", and "saga" meaning "story", 
										Heimursaga is quite literally a collection of world-stories. The Heimursaga web application was developed in Colorado and is funded and managed by The Peripety Company. <br><br>

										<a href="/register">Create an account</a> or <a href="/login">login</a> to begin sharing your journey, or <a href="/">discover</a> explorers and entries as a guest!
								</div>
							</div>
						</div>


					</div>
				</div>
			</main>
			
<%- include('includes/footer') %>
