<%- include('includes/header') %>

<title>Heimursaga | Journal Feed</title>

<%- include('includes/sidebar') %>

<%- include('includes/navbar') %>

			<main class="content">
				<div class="container-fluid p-0">
					<div class="row">
						<h1 class="h3 mb-3 text-center">About Heimursaga</h1>
						<div class="col-12">
							<div class="card">
								<div class="card-body text-center col-md-8 offset-md-2 mb-5 mt-3">
										Heimursaga (HEY-mer-saga) is a text-focused, map-centric social media platform for explorers and travellers. Heimursaga's core functionality is the ability for users
										to read and write "journal entries" tagged to precise geographic coordinates. With a name derived from the Old Norse words "heimr" meaning "world", and "saga" meaning "story", 
										Heimursaga is quite literally a collection of world-stories. The Heimursaga web application was developed in Colorado and is funded and managed by The Peripety Company.
								</div>
							</div>
						</div>


					</div>
				</div>
			</main>
			
<%- include('includes/footer') %>
