<%- include('includes/header') %>

</head>

<style type="text/css">
  BODY {background:none transparent;}
</style>

<div style="background: white;" class="overflow-hidden">

<% if (user) { %>

  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
  <input type="hidden" id="entry-id" class="entry-id" value="<%= entry._id %>">
  <input type="hidden" id="has-flagged" class="has-flagged" value="<%= hasVisitorFlagged %>">


  <% if (!entry.isVisitorOwner) { %>

  <div class="pt-1">

      <div class="text-center row">

      <% if (!hasVisitorFlagged) { %>
      

        <div class="col-lg-12">
          <button id="flag-button" style="border: none; background: transparent;" class="text-danger">
            <i style="font-size: large;" style="font-size: large; color: #d9534f;" class="icon-heimursaga-flag"></i>
            <div class="w-100"></div>
            <small id="flag-label">flag</small>
          </button>
        </div> 

      <% } else { %>


        <div class="col-lg-12">
          <button id="flag-button" style="border: none; background: transparent;" style="color: #adb5bd;" disabled>
            <i style="font-size: large;" style="font-size: large; color: #adb5bd;" class="icon-heimursaga-flag"></i>
            <div class="w-100"></div>
            <small id="flag-label">flagged</small>
          </button>
        </div>

      <% } %>

      </div> 

  </div>

  <% } %>

  <% } %>

</div>



<script src="js/app.js"></script>