<%- include('includes/header') %>
<title>Heimursaga | Register</title>

<body data-theme="default" data-layout="fluid" data-sidebar-position="left" data-sidebar-behavior="sticky">
	<div class="main d-flex justify-content-center w-100">
		<main class="content d-flex p-0">
			<div class="container d-flex flex-column">
				<div class="row h-100">
					<div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
						<div class="d-table-cell align-middle">

							<div class="text-center mb-4 me-4">
								<img src="./img/brands/Heimursaga Logo & Slogan white-bg.svg" width="280" height="105" alt="Heimursaga">
							</div>

							<div class="card">
								<div class="card-body">
									<div class="text-center mt-2 mb-4">
										<h1 class="h3">Welcome, Explorer</h1>
										<p class="lead">
											Create an account to begin sharing your journey, or <a href="/login" class="text-primary">login</a> to continue.
										</p>
									</div>


									<div class="m-sm-3">
										<form class="registration-form" action="/register" method="POST" id="registration-form">

											<% errors.forEach(function(message) { %>
												<div class="alert alert-danger text-center"><%= message %></div>
											  <% })%>

											<div class="mb-3">
												<label class="form-label">Explorer Name</label>
												<input class="form-control form-control-lg" type="text" name="username" id="username-register" placeholder="Enter a username" />
											</div>
											<div class="mb-3">
												<label class="form-label">Email</label>
												<input class="form-control form-control-lg" type="email" name="email" id="email-register" placeholder="Enter your email" />
											</div>
											<div class="mb-3">

												<style>
													.form-item {
														position: relative;
														}

													.fas {
														position: absolute;
														right: 1.1rem;
														top: 0.8rem;
														cursor: pointer;
														}
												</style>
												<label class="form-label">Password</label>
												<div class="form-item">
													<input
													  type="password"
													  name="password"
													  class="form-control form-control-lg"
													  id="password-register"
													  placeholder="Enter a password"
													/>
													<i class="fas fa-eye" id="eye"></i>
												  </div>

											</div>
											<div class="mb-3">

												<label class="form-label">Confirm Password</label>
													<input class="form-control form-control-lg" type="password" name="confirm_password" id="confirm_password" placeholder="Confirm your password" />
													<span id='message'></span>
										
											</div>
											<div class="text-center mt-3">

												<input type="hidden" name="_csrf" value="<%= csrfToken %>">

												<button type="submit" class="btn btn-lg btn-primary">Sign up</button>
											</div>
										</form>
									</div>

									<div class="text-center mt-3">
										<p class="mb-0">
											<a href="/" class="text-muted">Visit Heimursaga as a guest</a>
										</p>
									</div>

								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</main>
	</div>

	<script src="js/app.js"></script>

	<script>
		const password = document.querySelector("#password-register");
		const confirmpassword = document.querySelector("#confirm_password");
		const eyeIcon = document.querySelector("#eye");

		eyeIcon.addEventListener("click", () => {
		if (eyeIcon.classList.contains("fa-eye")) {
			password.setAttribute("type", "text");
			confirmpassword.setAttribute("type", "text")
			eyeIcon.classList.replace("fa-eye", "fa-eye-slash");
		} else {
			password.setAttribute("type", "password");
			confirmpassword.setAttribute("type", "password")
			eyeIcon.classList.replace("fa-eye-slash", "fa-eye");
		}
		});

		$('#password-register, #confirm_password').on('keyup', function () {
		if ($('#password-register').val() == $('#confirm_password').val()) {
			$('#message').html('Matching').css('color', 'green');
		} else 
			$('#message').html('Not Matching').css('color', 'red');
		});
	</script>
  
</body>

</html>