<%- include('includes/header') %>

</head>

<style type="text/css">
  BODY {background:none transparent;}
</style>

<div class="container" style="background: white;">

  <div class="col-12 text-right">

        <% if (user) {
          if (!hasVisitorFlagged) { %>

        <form onsubmit="return confirm('Are you sure you want to flag this entry for a violation of The Explorer Code? This action is irreversible.');" action="/addFlag/<%= entry._id %>" method="POST">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <button class="text-danger" style="background: transparent; border: none;">
            <div class="text-danger">
              <small>flag</small>
            </div>
          </button>
        </form>

        <% } else { %>

        <div class="text-muted text-small">
          <small>flagged</small>
        </div>

        <% }
        } %>  
        
  </div>
</div>